.winter1, .winter2, .winter3, .winter4 {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    -webkit-transition: background-image 4s ease-in-out;
    transition: background-image 4s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
}

.winter1 {
    background-image: url(../season_img/winter_1.jpeg);
}

.winter2 {
    background-image: url(../season_img/winter_2.jpg);
}

.winter3 {
    background-image: url(../season_img/winter_3.jpg);
}

.winter4 {
    background-image: url(../season_img/winter_4.jpg);
}
