.App {
    text-align: center;
}

.loading {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    color: #125353;
    width: 50%;
    border: none;
    background: none;
}
